<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            list-style: none;
        }
    </style>
</head>
<body>

    <!-- 
        v-for指令:
            1.用于展示列表数据
            2.语法：v-for="(item, index) in xxx" :key="yyy"
            3.可遍历：数组、对象、字符串（用的很少）、指定次数（用的很少）

        注意: 必须为每一行添加一个唯一标识 也就是:key=id这样具有唯一标识的属性
    -->

    <div id="root">
        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <input type="text" v-model="keyword" placeholder="请输入关键字"/>
        <ul>
            <li v-for="(p, index) of filPersons" :key="p.id">
                {{p.name}}-{{p.age}}-{{p.sex}}
            </li>
        </ul>
    </div>

    <script type="text/javascript" src="./js/vue.js"></script>
    <script type="text/javascript">
        Vue.config.productionTip = false;
        
        new Vue({
            el: '#root',
            data() {
                return {
                    keyword: '',
                    persons:[
                        {id: '001', name: 'Jason', age: 19, sex: '男'},
                        {id: '002', name: 'Tatum', age: 20, sex: '男'},
                        {id: '003', name: 'Lebro', age: 21, sex: '男'},
                        {id: '004', name: 'Demil', age: 41, sex: '男'}
                    ],
                    // filPersons:[]
                }
            },
            //使用监听实现过滤过滤
            // watch: {
            //     keyword:{
            //         //这个案例使用immediate设为true在一开始就调用，目的是为filPersons空数组，进行数据加持
            //         //初始阶段第一次调用，newV为空字符，因为没有入，所以读到的就是空字符串，空字符和在每一个字符串都是0索引，所以不会返回-1未找到
            //         //删除出所有数据，为过滤filPersons装配
            //         immediate: true,

            //         handler(newV){
            //             //通过监听关键字来进行过滤
            //             this.filPersons = this.persons.filter((p) => {
            //                 return p.name.indexOf(newV) !== -1;
            //             })
            //         }
            //     }
            // }

            //计算属性实现过滤
            computed:{
                //当关键字keyword发生变化的时候，计算属性也会触发一次，通过关键字进行配对，然后直接返回数据
                //下次关键再次发生变化的时候，还会触发计算属性进行重新计算，并返回过滤后的数组
                filPersons(){
                    //过滤
                    return this.persons.filter((p) => {
                        return p.name.indexOf(this.keyword) !== -1;
                    });
                }
            }
        })
    </script>
</body>
</html>