/* 公共样式 */
.clearfix::before,
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

a{
    text-decoration: none;
}

body{
    font: 14px/1.5 Helvetica Neue,Helvetica,Arial;

    /* 最小宽度 */
    min-width: 1226px;
}

/* 设置一个类，用来展示中间容器的宽度 */
.w{
    /* 固定容器宽度 */
    width: 1226px;
    /* 容器居中 */
    margin: 0 auto;
}